<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.tagline }}{% endif %}</title>
    <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
    <link rel="icon" href="{{ site.github.url }}/favicon.ico">
  </head>
  <body>
    <div id="wrapper">
      <header id="header" class="alt">
        <span class="logo"><img src="{{ site.github.url }}/images/logo.svg" alt="" /></span>
        <p>Open-Source-Initiative der <a href="http://www.vkaf.ch">Verkehrskadetten-Abteilung Fürstenland</a></p>
      </header>
      <div id="main">
        {{ content }}
      </div>
    </div>
    <footer id="footer">
      <p class="copyright">&copy; Verkehrskadetten Fürstenland</p>
    </footer>
  </body>
</html>
